doctype html
include includes/head.pug
script(src='/assets/js/form.js')
script(src='/assets/js/edit.js')
script(src="https://www.google.com/recaptcha/api.js" async defer)
link(rel="stylesheet" href="/assets/css/tags.css")
script.
  function dashboard2() {

    let form_items = ["botid", "prefix"]
    let data = {}
    for (let form_item of form_items) {
        data[form_item] = $(`#${form_item}`).val()
    }

    data["id"] = data["botid"];

    let method = "PATCH"
    fetch(`/api/dashboard/${data.id}`, {
        method,
        headers: {
            'Content-Type': 'application/json'
        },
        body: JSON.stringify(data)
    }).then(body => body.json()).then(body => {
        if (!body.success) {
            let opts = {
                type: "error",
                text: body.message,
                theme: "sunset",
                timeout: 3500
            }
            if (body.button) {
                opts.buttons = [
                    Noty.button(body.button.text, 'btn btn-success', function () {
                        location.href = body.button.url
                    }),
                ]
            }
            new Noty(opts).show();
        } else {
            if (location.href.includes("/guilds/dashboard")) location.href = `/guilds/dashboard/${data.id}`;
            else location.href = "/success"
        }
    })
  }

body(onload="load()")
    include includes/nav.pug
    #content
      span.header
        h1 Edit
      br
      if(!guild)
       h1 Reload the Page!
      .sidebar
          form.center
            .input-holder
              input#botid.input(type='text' placeholder=' ' value=guild.guildid readonly='')
              .placeholder Client ID
            br
            .input-holder
              input#prefix.input(type='text' placeholder=' ' value=guild.prefix)
              .placeholder Prefix
            .center-inline.g-recaptcha(data-callback='update_token' data-sitekey=site_key data-theme=req.cookies["theme"] || "light")
            a.button.submit-btn(onclick='dashboard2()') Submit
            br
          #links.section
           form.center
            .input-holder
              